<footer class="__footer">
	<div class="__footer_container container">
		<div class="__footer_columns">
			<div class="__footer_column">
				<h3 class="__footer_title">Menu</h3>
				<ul class="__footer_menu">
					<li class="__footer_menu_item">
						<a href="{{ url_for("home") }}" class="__footer_menu_link">Home</a>
					</li>
					<li class="__footer_menu_item">
						<a href="{{ url_for("about") }}" class="__footer_menu_link">About</a>
					</li>
					<li class="__footer_menu_item">
						<a href="{{ url_for("contact") }}" class="__footer_menu_link">Contact</a>
					</li>
				</ul>
			</div>

			<div class="__footer_column">
				<h3 class="__footer_title">More</h3>
				<ul class="__footer_menu">
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">Features</a>
					</li>
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">Pricing</a>
					</li>
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">FAQs</a>
					</li>
				</ul>
			</div>

			<div class="__footer_column">
				<h3 class="__footer_title">For you</h3>
				<ul class="__footer_menu">
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">Movies</a>
					</li>
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">Blog</a>
					</li>
					<li class="__footer_menu_item">
						<a href="" class="__footer_menu_link">Cinema</a>
					</li>
				</ul>
			</div>

			<div class="__footer_column">
				<div class="__footer_newsletter">
					<h3 class="__footer_title">Subscribe to our newsletter</h3>
					<p class="__footer_subtitle">
						Monthly digest of what's new and exciting from us.
					</p>
					<form action="#" method="post" class="__footer_form">
						<input
							type="email"
							name="email"
							id="newsletteremail"
							placeholder="Email address"
							class="__footer_form_input"
						/>
						<button type="submit" class="__footer_form_button primary_btn">
							Subscribe
						</button>
					</form>
				</div>
			</div>
		</div>

		<div class="__footer_bottom">
			<p class="__footer_copy">
				&copy; 2025 <span>Movie Star</span>. All rights reserved
			</p>
			<div class="__footer_social">
				<a href="#" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a href="#" target="_blank">
					<i class="fa-brands fa-square-facebook"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
