.__movies_table,
.__movies_thead,
.__movies_tbody,
.__movies_tr,
.__movies_td,
.__movies_th {
	display: flex;
	flex: 1;
	font-size: 0.85rem;
}

.__movies_table,
.__movies_thead,
.__movies_tbody,
.__movies_tr {
	border-radius: 0.25rem;
	box-shadow: 1px 1px 50px 25px rgba(255, 255, 255, 0.005);
	border: 1px solid rgba(252, 196, 52, 0.055);
}

.__movies_table,
.__movies_tbody {
	flex-direction: column;
}

.__movies_table {
	gap: 0.85rem;
}

.__movies_thead {
	background-color: var(--primary-bg-color);
}

.__movies_tbody {
	gap: 0.25rem;
}

.__movies_tr {
	align-items: center;
	justify-content: space-between;
	padding: 0.55rem;
	transition: all 0.35s ease-in-out;
	background-color: var(--secondary-bg-color);
	padding-left: 1.75rem;
}

.__movies_tbody .__movies_tr:hover {
	transform: scale(1.025);
	box-shadow: 1px 1px 50px 25px rgba(255, 255, 255, 0.055);
}

.__movies_th,
.__movies_td {
	align-items: center;
	gap: 0.85rem;
	justify-content: flex-start;
}

.__movies_td:nth-child(1) {
	font-weight: 900;
	color: var(--primary-color);
}

@media screen and (max-width: 795px) {
	.__movies_td:nth-child(4),
	.__movies_th:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 645px) {
	.__movies_td:nth-child(1),
	.__movies_th:nth-child(1) {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.__movies_td:nth-child(3),
	.__movies_th:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 395px) {
	.__movies_th:last-child {
		justify-content: center;
	}
}
